{% extends 'main.html' %}

{% block content %}

<h1>Single Post</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue vel velit nec gravida. Sed consequat dolor eu turpis interdum semper. Cras nec leo non lectus facilisis sodales. In hac habitasse platea dictumst. Vestibulum sit amet risus vel lacus porta sollicitudin nec sit amet ligula. Duis nec egestas tortor, quis interdum justo. Morbi viverra facilisis nisl, at bibendum tellus imperdiet et. Suspendisse potenti. Cras quis egestas sem. Morbi quis lectus ultricies, semper sapien vitae, tincidunt neque. Cras id justo euismod, ornare felis eget, porta justo.

Nulla convallis arcu in risus pulvinar, ac ultricies sem ultrices. Donec dui dolor, commodo eu euismod vel, consequat vitae risus. Morbi lacinia rutrum sapien ut tempus. Nulla mi lacus, ornare at egestas sit amet, ultrices at ipsum. Mauris euismod nisi in pulvinar maximus. Etiam fringilla accumsan nibh, nec malesuada risus blandit eget. Sed semper nunc vitae auctor mollis. Curabitur vehicula venenatis felis eu tristique. Nullam eu enim vel metus tincidunt rutrum id sit amet est. Nulla lobortis lobortis pellentesque.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse suscipit tellus et luctus elementum. Nullam vitae elit ut tellus gravida venenatis. Nullam venenatis blandit enim sit amet accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer auctor turpis dolor, ac vehicula ligula porttitor sit amet. Morbi feugiat neque justo, sit amet sodales libero viverra id. Pellentesque et enim mi. Nunc at odio et tortor aliquam dignissim nec tempor tellus.</p>

{% endblock %}